th,
td {
    border: 1px solid black;
    padding: 0px 5px 0px 5px;
}

th {
    text-align: center;
}

table.tut {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}

thead.tut {
    background-color: black;
    color: white;
}

thead.tut,
tfoot.tut {
    font-family: 'Rock Salt', cursive;
    text-shadow: 1px 1px 1px 1px black;
}

caption.tut {
    font-family: 'Rock Salt', cursive;
    font-style: italic;
    caption-side: bottom;
    text-align: right;
    color: #666;
    letter-spacing: 1px;
}

thead.tut th:nth-child(1).tut {
    width: 30%;
}

thead th:nth-child(2).tut {
    width: 20%;
}

thead th:nth-child(3).tut {
    width: 15%;
}

thead th:nth-child(4).tut {
    width: 35%;
}

tbody.tut {
    text-align: center;
}

tbody.tut tr:nth-child(odd).tut {
    background-color: #ff33cc;
}

tbody.tut tr:nth-child(even).tut {
    background-color: #e495e4;
}

th.tut,
td.tut {
    padding: 20px;
    text-align: center;
}