body {
    background-color: lightgrey !important;
    font-family: Helvetica, sans-serif;
}

.sheet-block > h3 {
    margin: 10px 0px 10px 0px;
}

.main-header {
    margin-left: auto;
    margin-right: auto;
}


/* Used for code or plain text (html templates, element lists, etc.) */

.sheet-block {
    background-color: darkgray;
    border: 2px solid black;
}

.sheet-code,
.sheet-example {
    background-color: white;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0px 10px 0px 10px;
    font-size: 85%;
    height: auto;
}

.sheet-info {
    padding: 0px 10px 0px 10px;
}

h1,
h2,
h3 {
    text-align: center;
}


/* Grid */

.grid-container {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 5px;
    padding: 5px;
}

.col-2 {
    grid-column: auto / span 2;
}

.col-3 {
    grid-column: auto / span 3;
}

.row-1 {
    grid-row: auto / span 1;
}

.row-2 {
    grid-row: auto / span 2;
}

.row-3 {
    grid-row: auto / span 3;
}

.row-4 {
    grid-row: auto / span 4;
}

.row-5 {
    grid-row: auto / span 5;
}

.flex-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    max-height: 480px;
}

.flex-list > p {
    margin: 5px;
}
