#player-button {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(0, 0, 200, 0.6);
    background: rgba(0, 0, 200, 0.4);
    color: rgba(0, 0, 200, 0.6);
    box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
}

.section {
    border: 2px solid black;
    width: auto;
    display: block;
    padding: 0px 10px 0px 10px;
    overflow-x: auto;
}

h3,
p {
    width: auto;
    display: block;
}
